# VWAP Signal Generator

In [2]:
import pandas as pd
from data import data_df

data = data_df()

In [3]:
# VWAP = volume weighted average price
# VWAP = sum(volume) * sum(avg. price) / sum(volume)
    # avg price = (high + close + low) / 3
    # the volume and price is a running cumulative for the DAY (restarts everyday)
        # Since it restarts everyday, this is not a great tool on the daily timeframe (on the daily timeframe, VWAP is just equal to the avg price), so it is better to use this tool only on *INTRADAY* time frames.  

data['avg_price'] = (data.Close + data.High + data.Low) / 3
data['curent_day'] = data.index.weekday
data['prev_day'] = data.curent_day.shift()
data['daily_cum_vol'] = data.Volume

for day in range(1, len(data)):
    if data.curent_day.iloc[day] == data.prev_day.iloc[day]:
        data['daily_cum_vol'].iloc[day] += data.Volume.iloc[day]
    else:
        data['daily_cum_vol'].iloc[day] = data.Volume.iloc[day]

data['vwap'] = (data.daily_cum_vol * data.avg_price) / data.daily_cum_vol
data['signal'] = data.vwap.gt(data.Close).astype(float)

In [11]:
data['signal'] = data.vwap.gt(data.Close).astype(float)

data.head()

,Open,High,Low,Close,Adj Close,Volume,avg_price,curent_day,prev_day,daily_cum_vol,vwap,signal
Date,,,,,,,,,,,,
2015-12-01,377.414001,378.931000,356.562988,362.488007,362.488007,60452200,365.993998,1,NaN,60452200,365.993998,1.0
2015-12-02,361.845001,362.231995,349.464996,359.187012,359.187012,54160500,356.961334,2,1.0,54160500,356.961334,0.0
2015-12-03,359.330994,370.274994,357.411987,361.045990,361.045990,50714900,362.910990,3,2.0,50714900,362.910990,1.0
2015-12-04,361.261993,363.515991,355.756989,363.183014,363.183014,35784100,360.818665,4,3.0,35784100,360.818665,0.0
2015-12-05,363.721008,389.785004,363.229004,388.949005,388.949005,66282200,380.654338,5,4.0,66282200,380.654338,0.0